<div class="row">
  <div class="col-md-8">
    <section class="panel panel-brand" id="panel">
      <header class="panel-heading">
        <h2 class="panel-title">Mina PxVanner</h2>
      </header>
      <div class="panel-body">

        <div *ngFor="let item of people" style="border-bottom: 1px solid #999;">
          <div class="card card-person card-light">
            <div class="card-body">
              <div class="card-value card-person-value">
                <img class="card-person-image" src="https://randomuser.me/api/portraits/lego/6.jpg" />
                <div class="card-person-info">
                  <h2 class="card-title">{{item.name}}</h2>
                  <p>{{item.birthday | date}}</p>
                  <p>{{sex[0]}}</p>
                  <p>{{item.phone}}</p>
                </div>
              </div>
              <ul class="card-value-list"></ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-md-4">
    <section class="panel panel-brand" id="panel">
      <header class="panel-heading">
        <h2 class="panel-title">Lägg till Vänn</h2>
      </header>
      <div class="panel-body">
        <form [formGroup]="form" novalidate>
          <div class="input-group">
            <label for="name">Namn</label>

            <input type="text" class="form-control text-right" id="name" name="name" placeholder="" value="" formControlName="name" />
          </div>

          <div class="input-group">
            <label for="birthday">Födelsedag</label>

            <input type="text" class="form-control text-right" id="birthday" name="input-name" placeholder="" value="" formControlName="birthday" />
          </div>
          <div class="input-group">
            <label for="phone">Telefon</label>
            <input type="text" class="form-control text-right" id="phone" name="input-name" placeholder="" value="" formControlName="phone" />
          </div>
          <div class="form-group">
            <label for="select">Kön</label>
            <select id="select" name="select" class="form-control" data-required="true">
        <option selected="" value="">Välj...</option>
      
        <option value="0">Man</option>
        <option value="1">Kvinna</option>
        <option  value="2">Annat</option>
        
        
    </select>
          </div>
        </form>
        <br>
        <div class="form-group">
          <button type="button" (click)="createPerson($event)" class="btn btn-brand">Lägg till</button>
        </div>
      </div>
    </section>
  </div>
</div>